.back button{
    color: #50a3a2;
    padding: 0.5%;
    background-color: #eeeeee;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    border: 0.5px solid #50a3a2;
    border-radius: 10px;
    margin-left: 5%;
    /* margin-top: 15%; */
}

.footer p{
    font-family: "montserrat", sans-serif;
    font-size: 0.8em;
    text-align: center;
    color: grey;
    margin-top: 3%;
}